 

 

#menu-portal .user {
  font-size: 11.5px;
}

#menu-portal .nav-item:first-child {
  margin-left: 0;
  padding-left: 0;
}
#menu-portal .nav-item {
 margin: .3rem 0 ;
 margin-left: .6rem;
 padding-left: 0;
}

#menu-portal #educacao.nav-item,
#menu-portal #cultura.nav-item,
#menu-portal #esporte.nav-item,
#menu-portal #mercado.nav-item,
#menu-portal #corporativo.nav-item {
  border-left-width: 4px;
  border-left-style: solid;
}

#menu-portal #educacao.nav-item {
  border-left-color:  #ed6b1f;
}

#menu-portal #educacao.nav-item.active .nav-link {
  color: #ed6b1f;
}

#menu-portal #cultura.nav-item {
  border-left-color: #9d4fa6;
}

#menu-portal #cultura.nav-item.active .nav-link {
  color: #9d4fa6;
}

#menu-portal #esporte.nav-item {
  border-left-color: #118711;
}

#menu-portal #esporte.nav-item.active .nav-link {
  color: #118711;
}

#menu-portal #mercado.nav-item {
  border-left-color: #666666;
}

#menu-portal #mercado.nav-item.active .nav-link {
  color: #666666;
}

#menu-portal #corporativo.nav-item {
  border-left-color: #666666;
}

#menu-portal #corporativo.nav-item.active .nav-link {
  color: #666666;
}

#menu-portal .nav-link {
  padding: .2rem 0 .2rem .5rem;
}


 



.box {
  width: 100%;
  min-height: 160px;
  margin-bottom: 1.5rem;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
  text-transform: uppercase; 
  border-radius: 20px;
  background: #efefef;
  -webkit-transition: all 0.15s ease; 
       -moz-transition: all 0.15s ease; 
         -o-transition: all 0.15s ease; 
            transition: all 0.15s ease;
}

.box a { color: inherit;text-decoration: none !important }

/*SE NAO FOR SETADO NENHUM ID PARA O BOX, O HOVER SERÁ O PADRAO ABAIXO*/
.box:hover {
  color: #FFFFFF !important;
  background: #cc0000;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
   -webkit-transition: all 0.15s ease; 
       -moz-transition: all 0.15s ease; 
         -o-transition: all 0.15s ease; 
            transition: all 0.15s ease;
}

.box .svg {
  filter: invert(0)   brightness(1.25);
}

.box:hover .svg {
  filter: invert(1)   brightness(2);
}

.box:hover .taksbar .open-new-tab {
  display: inline-block;
}

.taksbar {
  display: inline-block;
  font-size: 9px;
  width: 100%; 
  z-index: 9999;
}

.taksbar #open-new-tab,
.taksbar .pin {
  cursor: pointer;
}

.taksbar #open-new-tab .alt,
.taksbar .pin .alt{
  display: none;
   -webkit-transition: all 0.15s ease; 
       -moz-transition: all 0.15s ease; 
         -o-transition: all 0.15s ease; 
            transition: all 0.15s ease;
  cursor: pointer;
}

.taksbar #open-new-tab:hover .alt,
.taksbar .pin:hover .alt {
  display: inline-block;
   -webkit-transition: all 0.15s ease; 
       -moz-transition: all 0.15s ease; 
         -o-transition: all 0.15s ease; 
            transition: all 0.15s ease;
}

.taksbar .pin i.fa{
  transform: rotate(90deg);
   -webkit-transition: all 0.15s ease; 
       -moz-transition: all 0.15s ease; 
         -o-transition: all 0.15s ease; 
            transition: all 0.15s ease;
}

.taksbar .pin i.fa:hover {
  transform: rotate(45deg);
}

.logo-servico {
  display: flex;
  width: 80%;
  height: 100%;
  min-height: 5rem; 
  max-height: 5rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo-servico img {
  max-height: inherit;
}

.titulo-servico {
  display: flex;
  max-width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 2.4rem; 
}

#main, #pinned {
  display: contents
}

#pinned .taksbar .pin i.fa {
  color: #cc0000;
  transform: rotate(45deg);
  cursor: pointer;
}

#pinned .box:hover .taksbar .pin i.fa { 
  color: #FFFFFF !important;
}

  .carousel-item .img-carousel {
  /*min-height: 200px; */ /*versao com lateral*/
  min-height: 230px; 
  background-size: cover !important; 
  background-position: center !important;
}


/*LATERAL*/

 .carousel {
  width: 95%;
  margin: 0 auto 2rem;
}

#yammer {

  border: 1px solid #ccc;
}




/*AVISOS*/
table thead {
  font-family: Gotham;
  text-transform: uppercase; 
}
table th {
  font-weight: 600;
}
.thead-red {
  color: #ffffff;
  background-color: #cc0000;
}





/*
###### RESPONSIVE ###### 
*/

@media (min-width: 500px){
   .carousel-item .img-carousel {
    min-height: 240px; 
  }
}


@media (min-width: 767px){
  #menu-portal {
    font-size: 11px;
  }

  #menu-portal .user {
    font-size: inherit;
  }

  #menu-portal .navbar-collapse {
    margin-top: 0px;
    border-top: 0px; 
  }

  #menu-portal .navbar-nav {
    text-align: left;
  }

  #menu-portal .navbar-nav .nav-link {
    padding-right: .25rem;
    padding-left: .25rem;
  }
   .carousel-item .img-carousel {
    /*min-height: 320px; versao com lateral*/
    min-height: 350px; 
  }

  footer .endereco ul {
    margin-top: 8px;
  }

  footer .endereco li .fa {
    margin-right: 8px !important;
  }
  
}





@media (min-width: 992px){
  #menu-portal {
   font-size: 13px;
 }

 #menu-portal .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}


 .carousel {
  width: 100%;
  margin: 0 auto 2rem;
}

 .carousel-item .img-carousel {
  /*min-height: 330px; versao com lateral*/
  min-height: 500px; 
}

}



@media (min-width: 1200px){
   .carousel-item .img-carousel {
    /*min-height: 390px; versao com lateral*/
    min-height: 590px; 
  }
}